/* RESET + BASE */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background: #02040a;
  color: #f9fafb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

/* Web App iOS (toglie bordi bianchi) */
body {
  min-height: 100dvh;
  background: #02040a;
  padding:
    env(safe-area-inset-top)
    env(safe-area-inset-right)
    env(safe-area-inset-bottom)
    env(safe-area-inset-left);
}

/* link */
a {
  color: inherit;
  text-decoration: none;
}

/* bottoni */
button {
  font-family: inherit;
  border: none;
  background: none;
}
