<style>
    #menu-button {
      position: fixed;
      top: 20px;
      right: 20px;
      color: black;
      font-size: 30px;
      background: rgba(255,255,255,0.7);
      border-radius: 10px;
      padding: 5px 12px;
      border: none;
      cursor: pointer;
      z-index: 9999;
    }

    #dropdown-menu {
      position: fixed;
      top: 70px;
      right: 20px;
      background: rgba(255,255,255,0.7);
      padding: 15px;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      opacity: 0;
      transform: translateY(-10px);
      pointer-events: none;

      transition: opacity 0.2s ease-out, transform 0.2s ease-out;
      z-index: 9998;
    }

    #dropdown-menu.open {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
</style>

<!-- ====================== MENU UNIVERSALE ====================== -->

<!-- Pulsante menu -->
<button id="menu-button">☰</button>

<!-- Menu contenitore -->
<div id="dropdown-menu">

  <form method="GET" action="/tipo">
    <button class="menu-btn" style="background: linear-gradient(to top, #FF69B4, #FFFFF0);">Home</button>
  </form>
  
  <form method="GET" action="/update-saldo">
    <button class="menu-btn" style="background: linear-gradient(to top, #20B2AA, #FFFFF0);">Aggiorna saldo</button>
  </form>

  <form method="GET" action="/grafico">
    <button class="menu-btn" style="background: linear-gradient(to top, #CD5C5C, #FFFFF0);">Grafico del mese</button>
  </form>

  <form method="GET" action="/tipologia">
    <button class="menu-btn" style="background: linear-gradient(to top, #CD853F, #FFFFF0);">Spese per tipologia</button>
  </form>

  <form method="GET" action="/storico">
    <button class="menu-btn" style="background: linear-gradient(to top, #8FBC8F, #FFFFF0);">Storico</button>
  </form>
  
  <form method="GET" action="/viaggio">
    <button class="menu-btn" style="background: linear-gradient(to top, #ADD8E6, #FFFFF0);">Viaggio</button>
  </form>

  <form method="GET" action="/storico_viaggi">
    <button class="menu-btn" style="background: linear-gradient(to top, #F0E68C, #FFFFF0);">Storico viaggi</button>
  </form>

  <form method="GET" action="/logout">
    <button class="menu-btn" style="background:linear-gradient(to top, #696969, #FFFFF0);">Logout</button>
  </form>

</div>

<script>
  const menuBtn = document.getElementById("menu-button");
  const drop = document.getElementById("dropdown-menu");
  menuBtn.onclick = () => drop.classList.toggle("open");
</script>
